<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="probeginners.hackcsi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signupactivity"></activity>
        <activity android:name=".SigninActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".DonatedActivity" />
        <activity android:name=".PurchasedActivity" />
        <activity android:name=".view.activities.ChatActivity"></activity>
    </application>

</manifest>